.hero-title {
    font-family: 'Oswald', sans-serif; 
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    padding: 20px;
    margin-top: 50px;

    background: linear-gradient(to right, #ffffff 0%, #aaaaaa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.hero-title::after {
    position: absolute;
    left: 2px;
    top: 2px;
    color: #aaa;
    z-index: -1;
    opacity: 0.2;
}

.hero-title p{
    font-size: 1.5rem;
    font-weight: 400;
}


@media (max-width:700px) {
    .hero-title{
        font-size: 2rem;
        padding: 10px;
        margin-top: 20px;
    }

    .hero-title p{
        font-size: 1rem;
    }
}