#random-button {
    display: block;
    margin: 20px auto; 
    padding: 10px;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    background-color: rgb(190, 190, 190);
    font-size: large;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

#random-button:hover {
    background-color: rgb(209, 208, 208);
    transform: scale(1.2);
}

@media (max-width:500px) {
    #random-button{
        margin-top: 50px;
        font-weight: 300;
    }
}