@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

@import url(layout/container.css);
@import url(layout/output.css);
@import url(layout/header.css);

*{
    margin: 0;
    padding: 0;
}

body{
    /* font-family: Noto Sans;
    background: #000000;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56, 1) 85%, rgba(79, 77, 77, 1) 100%);
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh; */

    background-color: #0d0d0d;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}


